.swiper-container {
  max-width: 100vw;
  align-self: center;
}

.slide-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slide-content h3,
.slide-content p {
  opacity: 0;
  transition: opacity 0.5s ease;
  color: white;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  margin: 20px 0;
}

.slide-image-wrapper {
  border: 1px solid gray;
  border-radius: 12px;
  width: 300px;
  height: 200px;
  overflow: hidden;
  transition: transform 0.5s ease;
  margin: 16px 0;
}

.slide-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.slide-content h3 {
  top: 20%;
  font-size: 1.5rem;
}
.slide-content p {
  bottom: 15%;
  max-width: 80%;
}

.slide-content:hover .slide-image-wrapper {
  transform: scale(1.1);
}

.slide-content:hover h3,
.slide-content:hover p {
  opacity: 1;
}
