.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 12px;
}

.description {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 64px;
}

.label {
  font-weight: 600;
  margin-bottom: 8px;
}

.input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 16px;
  width: 70vw;
}

.input:focus {
  outline: none;
  border-color: #0070f3;
  box-shadow: 0 0 3px #0070f3;
}

.button {
  background-color: #0070f3;
  color: white;
  border: none;
  padding: 12px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: fit-content;
  align-self: center;
}

.button:hover {
  background-color: #005bb5;
}

.input-container {
  width: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 64px;
  z-index: 10;
}

.input-title-and-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
